# Working with dates and time

In [63]:
import calendar
from datetime import date
from datetime import timedelta
from datetime import time as dtime
from datetime import datetime as dt
import time
import dateutil
import datetime

## Calendar module

In [3]:
# високосный год
calendar.isleap(2022)

False

In [4]:
calendar.isleap(2000)

True

## Datetime module and it's 4 classes

### datetime.date

Attributes: `year`, `month`, and `day`.

In [9]:
# date object
halloween = date(2019, 10, 31)
print(f'{halloween=}')
print(f'{halloween.day=}')
print(f'{halloween.month=}')
print(f'{halloween.year=}')

halloween=datetime.date(2019, 10, 31)
halloween.day=31
halloween.month=10
halloween.year=2019

In [136]:
# Return the local date corresponding to the POSIX timestamp, such as is returned by time.time().
date.fromtimestamp(time.time())

datetime.date(2022, 11, 15)

In [134]:
# Return the date corresponding to the proleptic Gregorian ordinal, where January 1 of year 1 has ordinal 1.
date.fromordinal(14)

datetime.date(1, 1, 14)

In [137]:
# Return a date corresponding to a date_string given in any valid ISO 8601 format
date.fromisoformat('2019-12-04')

datetime.date(2019, 12, 4)

In [10]:
# формат ISO 8601 удобен для сортировки дат: сначала идет год
halloween.isoformat()

'2019-10-31'

In [11]:
# получить сегодняшнюю дату
now = date.today()
now

datetime.date(2022, 11, 15)

In [123]:
d = date(2022, 4, 14)
d.replace(year=2023).isoformat()

'2023-04-14'

In [124]:
new_year = date(2022, 1, 1)
d - new_year

datetime.timedelta(days=103)

In [125]:
# timedelta
today = date.today()
print(f'{today=}')
birthday = date(2023, 4, 14)
print(f'{birthday=}')
print(f'My birthday will come in: {birthday-today}')

today=datetime.date(2022, 11, 15)
birthday=datetime.date(2023, 4, 14)
My birthday will come in: 150 days, 0:00:00

In [140]:
# день недели
birthday = date(2023, 4, 14)
# Return the day of the week as an integer, where Monday is 0 and Sunday is 6.
print(birthday.weekday())
# Return the day of the week as an integer, where Monday is 1 and Sunday is 7. 
print(birthday.isoweekday())

4
5

In [141]:
# Return a string representing the date
date(2002, 12, 4).ctime()

'Wed Dec  4 00:00:00 2002'

### datetime.timedelta

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

`datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)`

Istance attributes (read-only):
- `days`
- `seconds`
- `microseconds`

In [127]:
# получить смещение даты объект timedelta() модуля datetime
today = date.today()
one_day = timedelta(days=1)
tomorrow = today + one_day
tomorrow

datetime.date(2022, 11, 16)

In [128]:
year = timedelta(days=365)
date.today() + year

datetime.date(2023, 11, 15)

In [130]:
ten_years = timedelta(days=365) * 10
date.today() + ten_years

datetime.date(2032, 11, 12)

In [131]:
ten_years.days // 365

10

### datetime.time

Attributes: `hour`, `minute`, `second`, `microsecond`, and `tzinfo`.

In [112]:
# получить время, объект time модуля datetime
noon = dtime(12, 0, 0)
print(noon)
print(noon.hour)
print(noon.minute)
print(noon.second)
print(noon.microsecond)

12:00:00
12
0
0
0

### datetime.datetime

Attributes: `year`, `month`, `day`, `hour`, `minute`, `second`, `microsecond`, and `tzinfo`.

In [69]:
# дата и время объект datetime модуля datetime
some_day = dt(2019, 1, 2, 3, 4, 5, 6)
some_day.isoformat()

'2019-01-02T03:04:05.000006'

In [70]:
# текущие дата и время
now = dt.now()
print(f'now is: {now.isoformat()}')
print(f'current year is: {now.year}')
print(f'current month is: {now.month}')
print(f'current date is: {now.day}')
print(f'current hour is: {now.hour}')
print(f'current minute is: {now.minute}')

now is: 2022-11-15T18:40:55.614491
current year is: 2022
current month is: 11
current date is: 15
current hour is: 18
current minute is: 40

In [121]:
dt.fromtimestamp(1668514176.651999).isoformat()

'2022-11-15T15:09:36.651999'

In [122]:
dt.fromordinal(256).strftime('%d %B')

'13 September'

In [147]:
# combining date and time
d = date(2006, 7, 13)
t = dtime(12, 30)
dt.combine(d, t)

datetime.datetime(2006, 7, 13, 12, 30)

## Time module

In [38]:
# время в Unix-формате модуль time
now = time.time()
now

1668514176.651999

In [116]:
# преобразовать значение epoch в строку
time.ctime()

'Tue Nov 15 22:09:46 2022'

In [117]:
# в локальном часовом поясе
time.localtime()

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=15, tm_hour=22, tm_min=9, tm_sec=53, tm_wday=1, tm_yday=319, tm_isdst=0)

In [118]:
# в UTC
time.gmtime()

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=15, tm_hour=19, tm_min=10, tm_sec=4, tm_wday=1, tm_yday=319, tm_isdst=0)

In [119]:
# преобразование в Unix-время
tm = time.localtime()
time.mktime(tm)

1668539412.0

## Converting datetime to string and vice versa

`strftime()` and `strptime()`

In [113]:
# форматирование даты и времени функцией strftime модуля time
fmt = 'It\'s %A, %B, %d, %Y, local time: %I:%M:%S%p'
t = time.localtime()
time.strftime(fmt, t)

"It's Tuesday, November, 15, 2022, local time: 09:58:14PM"

In [47]:
# форматирование даты методом strftime объекта date, время устанавливается в полночь
some_day = date(2022, 2, 24)
fmt = 'It\'s %B %d, %Y, local time %I:%M:%S%p'
some_day.strftime(fmt)

"It's February 24, 2022, local time 12:00:00AM"

In [48]:
# форматирование времени методом strftime объекта time, дата устанавливается в дефолтное значение
some_time = dt(10, 35)
some_time.strftime(fmt)

"It's January 01, 1900, local time 10:35:00AM"

In [120]:
# форматирование времени методом strftime объекта datetime
nice_day = dt.now()
nice_day.strftime(fmt)

"It's Tuesday, November, 15, 2022, local time: 10:11:18PM"

In [114]:
# парсинг даты
dt.strptime('14/04/2022', '%d/%m/%Y')

datetime.datetime(2022, 4, 14, 0, 0)

In [115]:
dt.strptime('7 Jan 1990', '%d %b %Y')

datetime.datetime(1990, 1, 7, 0, 0)